<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh.springboot.demo.mapper.StudentMapper">
<!--    <select id="selectPage" resultType="stu">
    <![CDATA[

        /*select * from student order by stu_id limit #{f}-1,#{pageRows}*/
        select * from student order by stu_id limit 0,5
        ]]>
</select>-->
</mapper>